body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    153deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #000000;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  border-radius: 8px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form input,
form button {
  width: 90%;
  padding: 9px;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid gray;
}

th,
td {
  padding: 8px;
  text-align: left;
}

a {
  color: cadetblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
